{% extends 'base.html' %}

{% block content %}

<h1>Выберите страну для путешествия</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in countries %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ item.country_photo.url }}" class="card-img-top mw-100 mh-100" alt="" width="200" height="200">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Страна: {{ item.country_name }}</h5>
                <h6>Город: {{ item.city_name }}</h6>
                <p class="card-text">{{ item.country_description }}</p>
                <a href="{% url 'country' item.country_name %}" class="btn btn-warning mt-auto">Выбрать</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
