<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/airplane-plane-svgrepo-com.svg' %}">
    <style>
        .container-content {
            margin-top: 150px;
        }

        .go-back-button {
            position: absolute;
            top: 90px;
            left: 25px;
        }

        .main-container {
            position: relative;
            display: flex;
            width: 100%;
        }

        .room-image {
            margin-left: 20px;
        }

        .room-button {
            margin-right: 20px;
        }
    </style>

    {% block head %}
    {% endblock %}

    <title>{% block title %} ComfortTravel {% endblock %}</title>
</head>
<body>

{% include 'inc/_navbar.html' %}

<div class="main-container">
    <div class="go-back-button">
        <button class="btn btn-secondary" onclick="history.back()">Назад</button>
    </div>
    <div class="container container-content">
        {% block content %}CONTENT{% endblock %}
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>